.statsProgressbar {
  padding: 8px 0;
  position: relative;
  flex: 1;
  header {
    display: flex;
    justify-content: space-between;
    p {
      font-size: 12px;
      font-weight: 700;
      margin: 2px 0;
    }
  }
  .bar {
    position: absolute;
    height: 6px;
    border-radius: 6px;
    &.full {
      z-index: 11;
      width: 100%;
      background-color: #e5e5e5;
    }
    &.complete {
      z-index: 12;
    }
  }
}
