.secScreenHead {
  header {
    .title {
      margin: 0;
      font-size: 14px;
      font-weight: 700;
    }

    .subTitle {
      font-size: 12px;
      font-weight: #555555;
      margin: 0;
    }
  }
}
