.bottomSheet {
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
    animation: fadeIn 0.2s ease-in-out;
  }

  .contents {
    position: fixed;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    left: 0;
    padding: 30px 0;
    right: 0;
    background: #ffffff;
    z-index: 999;
    animation: riseUp 0.2s ease-in-out;

    .line {
      position: absolute;
      border-radius: 1000px;
      left: 40%;
      right: 40%;
      top: 15px;
      height: 5px;
      background: #80808088
    }
  }

  .bottomSheetButton {
    padding: 0 20px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .iconText {
      align-items: center;

      .shape {
        height: 28px;
        width: 28px;
        border-radius: 8px;
        position: relative;
        margin-right: 10px;

        img {
          width: 16px;
          height: 16px;
        }
      }

      p {
        font-size: 14px;
        font-weight: 700;
      }
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes riseUp {
    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(0%);
    }
  }
}
